@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots li button:before {
  color: #000 !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1 !important;
}

.slick-list {
  padding-bottom: 56px;
}

.container .card .face {
  width: 360px;
  height: 100%;
}

.container .card .face.face1 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.container .card .face.face2 {
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .container .card {
    margin: -40px 10px;
  }

  .container .card .face {
    width: 228px;
    height: 100%;
  }
}

.slide img {
  width: 100%;
  margin: 0 auto;
}

.slide {
  transform: scale(0.5);
  transition: transform 1000ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.slick-list {
  padding-top: 40px;
  padding-bottom: 50px;
}
