.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container1 .card1 .face4 {
  width: 360px;
}

.container1 .card1 .face4.face5 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 .card1 .face4.face6 .content1 h3 {
  margin: 10px 0 20px;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.container1 .card1 .face4.face6 {
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  min-height: 45%;
}

.container1 .card1 .face4.face6 .content1 p {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .container1 {
    display: flex;
    flex-direction: column;
    gap: 30px 20px;
    align-items: center;
  }
  .container1 .card1 .face4 {
    width: 300px;
  }
}
