.container1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container1 .card1 {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .container1 .card1 {
    margin: -40px 10px;
  }
}

.container1 .card1 .faceo {
  width: 350px;
  height: 200px;
  transition: 0.5s;
}

.container1 .card1 .faceo.face4 {
  position: relative;
  background: #0000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container1 .card1:hover .faceo.face4 {
  background: #ff0081;
  transform: translateY(0);
}

.container1 .card1 .faceo.face4 .content1 {
  opacity: 0.8;
  transition: 0.8s;
}

.container1 .card1:hover .faceo.face4 .content1 {
  opacity: 1;
}

.container1 .card1 .faceo.face4 .content1.icon {
  max-width: 100px;
}

.container1 .card1 .faceo.face4 .content1 h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.container1 .card1 .faceo.face5 {
  position: relative;
  font-size: 18px;

  background: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container1 .card1:hover .faceo.face5 {
  transform: translateY(0);
}

.container1 .card1 .faceo.face5 .content1 p {
  margin: 0;
  padding: 0;
}

.container1 .card1 .faceo.face5 .content1 a:hover {
  background: #333;
  color: #fff;
}

.content1 {
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: center;
}
