/* .neon-content:before,
.neon-header:before {
  background: linear-gradient(0deg, #0000001c 0%, #06ff00b0 100%);
  height: 100%;
  width: 100%;
  filter: blur(200px);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
} */

/* .neon {
  text-shadow: 0 0 10px #00ff808a, 0 0 20px #00ff808a, 0 0 40px #00ff808a,
    0 0 80px #00ff808a, 0 0 120px #00ff808a;
} */
